[Unit]
After=agent-box-robot.service network-online.target
Description=Browser terminal (ttyd) attached to robot's tmux
Wants=network-online.target

[Service]
Environment="LOCALE_ARCHIVE=/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-glibc-locales-2.42-67/lib/locale/locale-archive"
Environment="PATH=/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-coreutils-9.11/bin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-findutils-4.10.0/bin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-gnugrep-3.12/bin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-gnused-4.10/bin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-systemd-261/bin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-coreutils-9.11/sbin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-findutils-4.10.0/sbin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-gnugrep-3.12/sbin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-gnused-4.10/sbin:/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-systemd-261/sbin"
Environment="TMUX_TMPDIR=/run/agent-box-robot"
Environment="TZDIR=/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-tzdata-2026b/share/zoneinfo"
ExecStart=/nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-ttyd-1.7.7/bin/ttyd --writable --url-arg -p 7682 -i 127.0.0.1 -b /robot -t disableLeaveAlert=true -t titleFixed=robot@golden.example.org /nix/store/eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee-agent-box-robot-attach
Restart=always
RestartSec=5s
User=robot

[Install]
WantedBy=multi-user.target

# X-Golden-wantedBy: multi-user.target
