[Unit]
Description=Settings page socket for robot

[Socket]
ListenStream=/run/agent-box-settings/robot.sock
SocketGroup=caddy
SocketMode=0660
SocketUser=robot




[Install]
WantedBy=sockets.target

# X-Golden-wantedBy: sockets.target
